<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<style type="text/css">
			.books{
				float: left;
				margin: 19px;
			}
			p{
				margin: 2px;
			}
		</style>
	</head>
	<body>
		<div class="books">
			<img src="img/headbg.jpg" style="width: 200px;height: 200px;" />
			<p>书名：测试书籍</p>
			<p>价格：19</p>
			<p>分类：19</p>
			<a>借阅</a>
		</div>
		<div class="books">
			<img src="img/headbg.jpg" style="width: 200px;height: 200px;" />
			<p>书名：测试书籍</p>
			<p>价格：19</p>
			<p>分类：19</p>
			<a>借阅</a>
		</div>
		<div class="books">
			<img src="img/headbg.jpg" style="width: 200px;height: 200px;" />
			<p>书名：测试书籍</p>
			<p>价格：19</p>
			<p>分类：19</p>
			<a>借阅</a>
		</div>
		<div class="books">
			<img src="img/headbg.jpg" style="width: 200px;height: 200px;" />
			<p>书名：测试书籍</p>
			<p>价格：19</p>
			<p>分类：19</p>
			<a>借阅</a>
		</div>
		<div class="books">
			<img src="img/headbg.jpg" style="width: 200px;height: 200px;" />
			<p>书名：测试书籍</p>
			<p>价格：19</p>
			<p>分类：19</p>
			<a>借阅</a>
		</div>
		<div class="books">
			<img src="img/headbg.jpg" style="width: 200px;height: 200px;" />
			<p>书名：测试书籍</p>
			<p>价格：19</p>
			<p>分类：19</p>
			<a>借阅</a>
		</div>
		<div class="books">
			<img src="img/headbg.jpg" style="width: 200px;height: 200px;" />
			<p>书名：测试书籍</p>
			<p>价格：19</p>
			<p>分类：19</p>
			<a>借阅</a>
		</div>
		<div class="books">
			<img src="img/headbg.jpg" style="width: 200px;height: 200px;" />
			<p>书名：测试书籍</p>
			<p>价格：19</p>
			<p>分类：19</p>
			<a>借阅</a>
		</div>
		<div class="books">
			<img src="img/headbg.jpg" style="width: 200px;height: 200px;" />
			<p>书名：测试书籍</p>
			<p>价格：19</p>
			<p>分类：19</p>
			<a>借阅</a>
		</div>
		<div class="books">
			<img src="img/headbg.jpg" style="width: 200px;height: 200px;" />
			<p>书名：测试书籍</p>
			<p>价格：19</p>
			<p>分类：19</p>
			<a>借阅</a>
		</div>
		<div class="books">
			<img src="img/headbg.jpg" style="width: 200px;height: 200px;" />
			<p>书名：测试书籍</p>
			<p>价格：19</p>
			<p>分类：19</p>
			<a>借阅</a>
		</div>
		
	</body>
</html>
