<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<style type="text/css">
			.leftdiv{
				background-color: lightskyblue;
				width: 150px;
				height: 900px;
				position: absolute;
				top: 0px;
			}
			p{
				font-size: 20px;
			}
			body
			{
				text-align: center;
			}
			a{
				font-size: 18px;
			}
			div{
				margin: 10px;
			}
		</style>
	</head>
	<body>
		<div class="leftdiv">
			<p>----图书分类----</p>
			<div>
				<a>数是多少</a>
			</div>
			<div>
				<a>数是多少</a>
			</div>
		</div>
	</body>
</html>
