<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title></title>
<style type="text/css">
body {
	background-image: url(img/loginbg.jpg);
	width: 90%;
	text-align: center;
}

div {
	position: absolute;
	left: 900px;
	top: 150px;
	width: 500px;
	height: 400px;
	background-color: aliceblue;
}

p {
	font-size: 30px;
	text-align: center;
}

h2 {
	display: inline;
}

.login {
	position: absolute;
	left: 150px;
}
</style>
</head>
<body>
	<div>
		<p>登录</p>
		<form action="login" method="post">
			<h2>用户名：</h2>
			<input name="username" type="text"
				style="width: 250px; height: 27px;" /><br /> <br /> <br /> <br />
			<h2>密&nbsp;&nbsp;&nbsp;&nbsp;码：</h2>
			<input name="password" type="password"
				style="width: 250px; height: 27px;" /> <br /> <br /> <br /> <br />
			<button type="submit" class="login"
				style="width: 200px; height: 40px;">登录</button>
			<br> <br> <a href="./reg.html" style="font-size: 20px;">注册</a>
			<p th:text="${error}">
		</form>
	</div>
</body>
</html>
